
.journey{
    position: relative;
    /* padding: 20px 0; */
    width: 100%;
}
.journey-item{
    position: relative;
    margin: 50px 0;
    /* padding-left: 42%;  for small screen*/
  margin-left: auto;
  padding-inline: 150px;

}
@media only screen and ( max-width:768px){
  .journey-item{
    padding-inline: 10px;
  }
}
.journey .journey-icon{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 40px;
    height: 40px;
    background-color:rgb(20, 46, 179);
    border-radius: 50%;
   
}
.journey-item .journey-content{
    padding: 20px 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    background-color: rgba(213, 206, 206, 0.899);
    
}
.journey-item h4, .journey-item h5, .journey-item h6{
    margin: 0;
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
  .journey-content Link{
    text-decoration: none;
    color: red;
}

.journey::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
     transform: translateX(-50%);
    width: 8px;
    background-color: rgb(20, 46, 179);
}

.vertical-line-container {
    position: relative;
  }
  
  .circle {
    width: 50px;
    height: 50px;
    background-color: #007bff; /* Bootstrap primary color */
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .vertical-line {
    width: 2px;
    height: 100vh;
    background-color: #007bff; /* Bootstrap primary color */
    margin: 0 auto;
    position: absolute;
    top: 25px; /* Adjust this value to place the line right below the circle */
    left: 50%;
    transform: translateX(-50%);
  }
  